<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<p class="fs-1 text-lg-center" th:text="#{text.forbidden}"></p>
<div class="container mx-auto">
    <div class="row mx-auto">
        <div class="col-md-8 mx-auto">
            <a class="btn btn-primary" href="/" role="button" th:text="#{btn.to.main}"></a>
            <a class="btn btn-primary" href="/login" role="button" th:text="#{login}" ></a>
        </div>
    </div>
</div>

<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="ru" th:text="#{lang.ru}"></option>
</select>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('international?lang=' + selectedOption);
            }
        });
    });
</script>

<div th:replace="fragments/footer :: footer">&copy; 2021 </div>

</body>
</html>